form {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    min-width: 33%;
}

.filebokz {
    /* TODO: is color used? */
    --color: var(--pico-primary);

    padding: 2rem 2rem 1rem;
}

.filebokz label {
    transition: background-color linear 0.3s;
}

.filebokz label:hover {
    background-color: var(--pico-color-grey-300, #ABABAB);
}

.filebokz.is-draggable label::after {
    background: none;
    border-style: dotted;
}

.filebokz.is-draggable label:hover::after,
.filebokz.is-draggable.is-dragging label::after,
.filebokz.is-draggable.in-focus label::after {
    animation: none;
}

.filebokz #cloud {
    height: 7rem;
}

.filebokz .error-msg::before {
    display: inline !important;
}


#data-protection-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .h1 {
        margin-bottom: 1rem;
        margin-top: 0;
    }

    & p#motif {
        max-width: 80ch;
    }
}


#main-grid {
    background: linear-gradient(#000, #000) center/2px 100% no-repeat;
    grid-template-columns: 1fr 3rem 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem 3rem 0;
    margin-bottom: 2rem;

    & div.text-content {
        max-width: 40ch;
    }
}

button {
    width: fit-content;
}

#or {
    font-size: larger;
    background-color: white;
    color: var(--heigit-red);
    position: relative;
}
