apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sketch-map-tool.fullname" . }}-config
stringData:
  {{- $pghost := (ternary (printf "%s-postgres:5432" .Release.Name) .Values.postgres.connectionString .Values.postgres.enabled) }}
  {{- $pgname := (ternary .Values.postgres.userDatabase.name.value .Values.postgres.external.database .Values.postgres.enabled) }}
  {{- $pguser := (ternary .Values.postgres.userDatabase.user.value .Values.postgres.external.user .Values.postgres.enabled) }}
  {{- $pgpass := (ternary .Values.postgres.userDatabase.password.value .Values.postgres.external.password .Values.postgres.enabled) }}
  {{- $redisconn := (ternary (printf "%s-redis:6379" .Release.Name) .Values.redis.external.connectionString .Values.redis.enabled) }}
  config.toml: |
    broker-url = "redis://{{ $redisconn }}"
    result-backend = "db+postgresql://{{ $pguser }}:{{ $pgpass }}@{{ $pghost }}/{{ $pgname }}"
    {{- if .Values.customConfig }}
    {{- .Values.customConfig | nindent 4 }}
    {{- end }}
