@import url("footer.css");
@import url("results.css");

@font-face {
    font-family: "Architects Daughter";
    src: url("/static/assets/fonts/ArchitectsDaughter/ArchitectsDaughter-Regular.ttf");
}

@font-face {
    font-family: D-DIN;
    src: url("/static/assets/fonts/D_DIN/D-DIN-Bold.woff2");
}

:root {
    --heigit-red: #ca2334;
    --dark-red: #7a000a;
    --logo-text-size: 2rem;

    /* TODO: important should not be necessary */
    --primary: #2344ca !important;  /* blue */
    --primary-hover: #162b83 !important;  /* dark blue */
    --card-sectionning-background-color: #e6e6e6 !important;
}

@media (min-width: 576px) {
    :root {
        --logo-text-size: 2.8rem;
    }
}

.brand-font {
    font-family: D-DIN, sans-serif;
}

.heigit-red {
    color: var(--heigit-red);
}

/* wrap whole page in a flexbox to fill up whitespace between main and footer */
body {
    height: 100vh;
}

#main-flex-box {
    display: flex;
    flex-flow: column;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.sketchy {
    font-family: "Architects Daughter", cursive;
}

.circle {
    width: var(--logo-text-size);
    height: var(--logo-text-size);
    line-height: var(--logo-text-size);
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: var(--heigit-red);
    margin-right: 0.5rem;
    display: inline-block;
}

.infobox {
    position: relative;
    padding-left: 3.5rem;
}

.infobox::before {
    content: "i";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: gold;
    margin-left: -2.5rem;
    text-align: center;
    font-weight: bold;
    line-height: 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    top: calc(50% - 1rem);
}

.github-icon {
   display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    background-image: url("/static/assets/logos/GitHub-Mark-64px.png");
    background-size: 1rem;
    vertical-align: baseline;
}

.center-text {
    text-align: center;
}

nav {
    padding: 0 1rem;
    flex-wrap: wrap-reverse;
    align-items: first baseline;

    /* border-bottom: var(--dark-red) 1px solid; */
}

#nav-left {
    /* give at least 450px width to nav-left, if screen is narrower the next flex items (About-Button) will wrap */
    flex: 1 1 450px;

    /* keep logo text and header-message text on the same line */
    align-items: last baseline;

    /* let the header-message wrap on small screens */
    flex-wrap: wrap;
}

#logo-item {
    font-family: D-DIN, sans-serif;
    font-size: var(--logo-text-size);
    white-space: nowrap;
}

#logo-item img {
    vertical-align: middle;
    transform: translateY(-0.5rem);
    height: calc(var(--logo-text-size) * 2);
}

#header-message-item {
    /*
        let the header-message itself wrap up to 30rem,
        if available space is smaller wrap the whole item ot the next flex-row
    */
    flex: 1 1 30rem;
    text-align: center;
    font-size: 1.5rem;
}

.nav-link {
    position: relative;
}

.nav-link::before {
    position: absolute;
    bottom: 2px;
    width: 0;
    height: 2px;
    background-color: var(--heigit-red);
    content: "";
    transition: width 200ms;
}

.nav-link:hover::before,
.nav-link:focus::before {
    width: 25px;
    font-weight: bold;
}

.step-arrows {
    display: flex;
    flex-wrap: nowrap;
}

.step-arrows > div {
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100% 100%;

    /* center the text node inside a div */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.step-arrows > div.active {
    color: white;
    font-weight: bolder;
}

.horizontal.step-arrows > div {
    background-image: url("/static/assets/step_arrow.svg");
    padding: 0.5rem 1.5rem;
    min-width: 5rem;
}

.horizontal.step-arrows > div.active {
    background-image: url("/static/assets/active_step_arrow.svg");
}

.vertical.step-arrows {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.vertical.step-arrows > div {
    background-image: url("/static/assets/step_arrow_vertical.svg");
    padding: 0.5rem 1.5rem;
    min-height: 5rem;
    min-width: 8rem;
}

.vertical.step-arrows > div.active {
    background-image: url("/static/assets/active_step_arrow_vertical.svg");
}
