nav {
    flex: 0 1 auto;
}

#main-flex-box > div#flex-content {
    flex: 1 1 auto;
}

footer {
    /* flex item */
    flex: 0 0 auto;

    /* flex container */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: end;
    line-height: 1rem;
    padding: 0.3rem 1rem 0;
    background-image: linear-gradient(to right, rgb(255 0 0 / 0%), #f0f3f5);

    --color: var(--dark-red);
    --font-size: 0.8rem;
}

footer img {
    height: 3em;

    /* transition: height ease-in-out 200ms; */
}

footer > * {
    /* flex: 1 1 auto; */
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer :first-child {
    margin-left: auto;
}

footer :not(:last-child) {
    padding-bottom: var(--pico-block-spacing-vertical);
}
