.grid {
  /* Grid inspired by  */

  /* https://piccalil.li/blog/a-handy-use-of-subgrid-to-enhance-a-simple-layout/ */
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
  row-gap: 1rem;
}

.grid[data-layout="thirds"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 33%, 20rem);
}

article {
  display: flex;
  flex-direction: column;
}

article footer {
  font-style: italic;
  margin-top: auto;
  bottom: 0;
}
