.grid {
  row-gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}

.card img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  display: block;
}

.card h3 {
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.card p {
  margin-inline: 0.5rem;
}
.card p:last-of-type {
  margin-bottom: 0.5rem;
}

.card footer {
  font-style: italic;
  margin-top: auto;
  bottom: 0;
  padding-bottom: 0.5rem;
}
