[tool.poetry]
name = "sketch_map_tool"
version = "2024.11.12.1"
description = ""
authors = ["HeiGIT <info@heigit.org>"]
license = "GNU Affero General Public License v3.0"

[tool.poetry.dependencies]
python=">= 3.11, < 3.13"
Flask = "^2.2.5"
waitress = "^2.1.2"
requests = "^2.28.1"
WTForms = "^3.0.1"
matplotlib = "^3.5.3"
reportlab = "^3.6.11"
toml = "^0.10.2"
celery = {extras = ["SQLAlchemy", "redis"], version = "^5.2.7"}
opencv-python-headless = "<4.8.0.76" # https://github.com/ultralytics/ultralytics/issues/893
qrcode = "^7.3.1"
svglib = "^1.4.1"
PyMuPDF = {extras = ["Pillow"], version = "^1.21.0"}
plotly = "^5.15.0"
kaleido = "0.2.1"  # Not working with '^', cf. https://github.com/plotly/Kaleido/issues/125
geojson = "^2.5.0"
matplotlib-scalebar = "^0.8.1"
redis = "^4.5.4"
pyproj = "^3.6.1"
neptune = "^1.8.3"
ultralytics = "8.1.14"
pyzbar = "^0.1.9"
shapelysmooth = "^0.2.0"
flask-babel = "^4.0.0"
my-ultralytics-4bands = { git = "https://github.com/itisacloud/ultralytics_multiband_support.git", rev = "ef61cf9870755ae8b21b03253237d15f5856e1a6" }
torch = [
    { version = "^2.4.0+cpu", source = "pytorch-cpu", platform = "linux" },
    { version = "^2.4.0", source = "pypi", platform = "darwin" }
]
torchvision = [
    { version = "^0.19.0+cpu", source = "pytorch-cpu", platform = "linux" },
    { version = "^0.19.0", source = "pypi", platform = "darwin"}
]
"sam-2" = { git = "https://github.com/facebookresearch/segment-anything-2.git" }
setuptools = "^72.2.0"  # dependencies of gdal
wheel = "^0.43.0"  # dependencies of gdal
flower = "^2.0.1"
numpy = "<2"  # dependency of gdal and opencv

[tool.poetry.group.dev.dependencies]
# Versions are fixed to match versions used by pre-commit
pytest = "^8.3"
pytest-rerunfailures = "^14.0"
pre-commit = "^2.20.0"
types-toml = "^0.10.8"
types-redis = "^4.3.21.3"
vcrpy = "^6.0"
pytest-celery = "^1.0.1"
locust = "^2.14.2"
hypothesis = "^6.88.4"
ruff = "^0.8.4"
approvaltests = "^12.0.0"
matplotlib = "^3.8.4"
geopandas = "^1.0.1"
testcontainers = {extras = ["postgres", "redis"], version = "^4.9"}
opencv-python = "<4.8.0.76"
psycopg2-binary = "^2.9.9" # dev only. In prod psycopg2 (non-binary) depending on system libraries (libpg) is used.


[[tool.poetry.source]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
priority = "explicit"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff.lint]
select = [
    "E",    # pycodestyle Error
    "F",    # Pyflakes
    "I",    # isort
    "N",    # pep8-nameing
    "Q",    # flake8-quotes
    "W",    # pycodestyle Warning
    "C90",  # mccabe
]

[tool.pytest.ini_options]
testpaths = ["tests"]
filterwarnings = ["ignore::DeprecationWarning"]
