[tool.poetry]
name = "sketch_map_tool"
version = "2024.08.02.4"
description = ""
authors = ["HeiGIT <info@heigit.org>"]
license = "GNU Affero General Public License v3.0"

[tool.poetry.dependencies]
python="^3.11.0"
Flask = "^2.2.5"
waitress = "^2.1.2"
requests = "^2.28.1"
WTForms = "^3.0.1"
matplotlib = "^3.5.3"
reportlab = "^3.6.11"
toml = "^0.10.2"
celery = {extras = ["SQLAlchemy", "redis"], version = "^5.2.7"}
opencv-python = "^4.6.0"
qrcode = "^7.3.1"
svglib = "^1.4.1"
PyMuPDF = {extras = ["Pillow"], version = "^1.21.0"}
plotly = "^5.15.0"
kaleido = "0.2.1"  # Not working with '^', cf. https://github.com/plotly/Kaleido/issues/125
geojson = "^2.5.0"
matplotlib-scalebar = "^0.8.1"
redis = "^4.5.4"
pyproj = "^3.6.1"
neptune = "^1.8.3"
ultralytics = "8.1.14"
segment-anything = {git = "https://github.com/facebookresearch/segment-anything.git"}
pyzbar = "^0.1.9"
shapelysmooth = "^0.1.1"
torch = "^2.1.2"
torchvision = "^0.16.2"
flask-babel = "^4.0.0"
my-ultralytics-4bands = { git = "https://github.com/itisacloud/ultralytics_multiband_support.git", rev = "ef61cf9870755ae8b21b03253237d15f5856e1a6" }

[tool.poetry.group.dev.dependencies]
# Versions are fixed to match versions used by pre-commit
pytest = "^7.1.3"
pre-commit = "^2.20.0"
types-toml = "^0.10.8"
types-redis = "^4.3.21.3"
vcrpy = "^4.2.1"
pytest-celery = "^1.0.0"
flower = "^1.2.0"
locust = "^2.14.2"
hypothesis = "^6.88.4"
ruff = "^0.4.7"
approvaltests = "^12.0.0"
matplotlib = "^3.8.4"
geopandas = "^0.14.4"
numpy = "^1.26.4"
testcontainers = {extras = ["postgres", "redis"], version = "^4.7.1"}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff.lint]
select = [
    "E",    # pycodestyle Error
    "F",    # Pyflakes
    "I",    # isort
    "N",    # pep8-nameing
    "Q",    # flake8-quotes
    "W",    # pycodestyle Warning
    "C90",  # mccabe
]

[tool.pytest.ini_options]
testpaths = ["tests"]
filterwarnings = ["ignore::DeprecationWarning"]
