@font-face {
    font-family: "Architects Daughter";
    src: url("/static/assets/fonts/ArchitectsDaughter/ArchitectsDaughter-Regular.ttf");
}

@font-face {
    font-family: D-DIN;
    src: url("/static/assets/fonts/D_DIN/D-DIN-Bold.woff2");
}

:root {
    --heigit-red: #ca2334;
    --dark-red: #7a000a;
    --logo-text-size: 2.8rem;
}

.sketchy {
    font-family: "Architects Daughter", cursive;
}

.circle {
    width: var(--logo-text-size);
    height: var(--logo-text-size);
    line-height: var(--logo-text-size);
    border-radius: 50%;

    /* font-size: 50px; */
    color: white;
    text-align: center;
    background: var(--heigit-red);
    margin-right: 0.5rem;
}

nav {
    padding: 0 1rem;
    flex-wrap: wrap-reverse;
    align-items: first baseline;
    border-bottom: var(--dark-red) 1px solid;
}

#nav-left {
    /* give at least 450px width to nav-left, if screen is narrower the next flex items (About-Button) will wrap */
    flex: 1 1 450px;

    /* keep logo text and header-message text on the same line */
    align-items: last baseline;

    /* let the header-message wrap on small screens */
    flex-wrap: wrap;
}

#logo-item {
    font-family: D-DIN, sans-serif;
    font-size: var(--logo-text-size);
    white-space: nowrap;
}

#logo-item img {
    vertical-align: middle;
    transform: translateY(-0.5rem);
    height: calc(var(--logo-text-size) * 2);
}

#header-message-item {
    /*
        let the header-message itself wrap up to 30rem,
        if available space is smaller wrap the whole item ot the next flex-row
    */
    flex: 1 1 30rem;
    text-align: center;
    font-size: 1.5rem;
}
