#main-grid {
    /* vertical center line */
    background: linear-gradient(#000, #000) center/2px 100% no-repeat;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 3.5rem;
}

#then {
    /* the word THEN inline of the vertical center line */
    font-size: larger;
    background-color: white;
    color: var(--heigit-red);
    top: 2rem;
    position: relative;
}

.h1 {
    font-size: 1.5rem;
    font-weight: bold;
}
