/* indent sub-accordeon */
details > details {
    margin-left: 4rem;
}

#print-page-icon {
    float: right;
    border: 1px solid var(--heigit-red);
    padding: 1rem;
    text-align: center;
}

details summary::after {
  /* put the arrow on the left */
  float:left;
}

details summary.centered::after {
    /* vertically center the arrow */
    height: var(--logo-text-size);
}
