.logos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.logos > img {
    flex: 0 0 auto;
    max-height: 10rem;
}

/* style litetrature */
article {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

article > .preview {
    flex: 1 1 25%;
    max-width: 25%;
    min-width: 0;
    box-sizing: border-box;
    height: fit-content;
}

article > span {
    flex: 3 1 55%;
    min-width: 55%;
    text-indent: -3rem;
    margin-left: 3rem;
    text-align: justify;
}

.no.preview {
    background-color: var(--pico-secondary-background);
    aspect-ratio: 1;
}

.border-dotted {
    border: dotted;
}

.grey-translucent {
    background-color: rgba(0,0,0,0.1);
}

[class*='ratio-'] {
  display: block;
  position: relative;
}

[class*='ratio-'] > * {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.aspect-ratio-wide {
  padding-top: 56.25%;
}

.aspect-ratio-square {
  padding-top: 100%;
}

