<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Sketch Map Tool</title>
    <link rel="icon" type="image/x-icon"
          href="{{ url_for("static", filename="assets/favicon.ico") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="bundles/pico.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="bundles/base.css") }}">
    {% block head %} {% endblock head %}
</head>
<body>
<div id="main-flex-box">
    <nav>
        <ul id="nav-left">
            <li id="logo-item">
                <a href="{{ url_for("index") }}">
                    <img alt="SketchMap Logo"
                         src="{{ url_for('static', filename='assets/SketchMap_Logo_Icon.svg') }}">
                    <span style="color: var(--heigit-red)">SketchMap</span><span
                        style="color: var(--dark-red)">Tool</span>
                </a>
            </li>
            <li id="header-message-item">
                <span class="sketchy">{% block header_message %}{% endblock header_message %}</span>
            </li>
        </ul>
        <ul id="nav-right">
            <li><a href="{{ url_for('help') }}" class="nav-link secondary">Help</a></li>
            <li><a href="{{ url_for('about') }}" class="nav-link secondary">About</a></li>
        </ul>
    </nav>
    <div id="flex-content">
        {% block body %} {% endblock body %}
    </div>

    <footer class="container-fluid">
        <a class="nav-link secondary" href="https://heigit.org/privacy-policy/" target="_blank">Privacy
            Policy</a>
        <span>&middot;</span>
        <a class="nav-link secondary" href="https://heigit.org/imprint/" target="_blank">Imprint</a>
        <a href="https://heigit.org" target="_blank"><img
                src="/static/assets/logos/HeiGIT/HeiGIT_Logo_base.svg" alt="HeiGIT Logo"></a>
    </footer>
</div>
</body>
</html>
