{% extends "base.jinja" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for("static", filename="bundles/create.css") }}">
<script>
    const esriApiKey = "{{ esri_api_key }}"
</script>
<script type="module" src="{{ url_for("static", filename="bundles/create.js") }}"></script>
{% endblock head %}

{% block header_message %}
<div class="circle" style="display: inline-block" ;>1</div>{{ _('Create paper maps to collect data') }}
{% endblock %}

{% block body %}
<div class="container-fluid horizontal step-arrows">
    <div class="active">{{ _('Define your Area of Interest') }}</div>
    <div>{{ _('Map Quality Check') }}</div>
    <div>{{ _('PDF Export of Sketch&nbsp;Map') }}</div>
</div>
<main class="container-fluid">

    <div id="main-grid" class="grid">
        <div id="left">
            <div class="sketchy h1 center-text">{{ _('Area of Interest') }}</div>
            <div id="map"></div>
        </div>
        <div id="right">
            <div class="sketchy h1 center-text">{{ _('Page Setup') }}</div>
            <div id="message-container" hidden>
                <article id="zoom-info" hidden class="infobox">{{ _('Your Area of Interest is too large!
                        <br>Zoom further in to be able to create a Sketch Map.') }}
                </article>
                <article id="antimeridian-info" hidden class="infobox">{{ _('You are currently trying to
                        request a map that crosses the +/-180° <a href="https://en.wikipedia.org/wiki/180th_meridian" target="_blank">antimeridian</a>. This is currently not
                        supported, please move the map such that your extent is either left or right of
                        the antimeridian.') }}
                </article>
            </div>

            <form id="page-setup-form" action="/{{ lang }}/create/results" method="post">
                <label for="format">{{ _('Paper Format') }}</label>
                <select id="format" name="format"></select>

                <label for="orientation">{{ _('Paper Orientation') }}</label>
                <select id="orientation" name="orientation"></select>

                <input type="hidden" id="bbox" name="bbox" value="1,1,5,5">
                <input type="hidden" id="bboxWGS84" name="bboxWGS84" value="1,1,5,5">
                <input type="hidden" id="size" name="size" value='{"width": 6055, "height": 8658}'>
                <input type="hidden" id="scale" name="scale" value='11545.36'>
                <input type="hidden" id="layer" name="layer" value="satellite">
                <button id="next-button" type="button">{{ _('NEXT') }} &rarr;</button>
            </form>
        </div>

    </div>
</main>
{% endblock body %}