{% extends "base.html" %}

{% block head %}
    <script src="{{ url_for("static", filename="libs/ol/v7.1.0-package/dist/ol.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="libs/ol/v7.1.0-package/ol.css") }}">

    <script src="{{ url_for("static", filename="libs/@giscience/ol-print-layout-control/dist/ol-print-layout-control.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="libs/@giscience/ol-print-layout-control/dist/ol-print-layout-control.css") }}">

    <link rel="stylesheet" href="{{ url_for("static", filename="style/create.css") }}">
{% endblock head %}

{% block header_message %}
    <div class="circle" style="display: inline-block";>1</div>Create paper maps to collect data
{% endblock %}

{% block body %}
    <div class="container-fluid horizontal step-arrows">
        <div class="active">Define your Area of Interest</div>
        <div>OSM Quality Check</div>
        <div>PDF Export of SketchMap</div>
    </div>
    <main class="container-fluid">

        <div id="main-grid" class="grid">
            <div id="left">
                <div class="sketchy h1 center-text">Area of Interest</div>
                <div id="map"></div>
            </div>

            <div id="right">
                <div class="sketchy h1 center-text">Page Setup</div>
                <form action="/create/results" method="post">
                    <label for="format">Paper Format</label>
                    <select id="format" name="format"></select>

                    <label for="orientation">Paper Orientation</label>
                    <select id="orientation" name="orientation"></select>

                    <input type="hidden" id="bbox" name="bbox" value="1,1,5,5">
                    <input type="hidden" id="size" name="size" value='{"width": 6055, "height": 8658}'>
                    <button id="next-button" type="submit">NEXT &rarr;</button>
                </form>
            </div>

        </div>
    </main>

    <script src="{{ url_for('static', filename='scripts/create/sketchMapMargins.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/create/map.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/create/form.js') }}"></script>
{% endblock body %}
