{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for("static", filename="bundles/create.css") }}">

    <script type="module" src="{{ url_for("static", filename="bundles/create.js") }}"></script>
{% endblock head %}

{% block header_message %}
    <div class="circle" style="display: inline-block";>1</div>Create paper maps to collect data
{% endblock %}

{% block body %}
    <div class="container-fluid horizontal step-arrows">
        <div class="active">Define your Area of Interest</div>
        <div>Map Quality Check</div>
        <div>PDF Export of Sketch&nbsp;Map</div>
    </div>
    <main class="container-fluid">

        <div id="main-grid" class="grid">
            <div id="left">
                <div class="sketchy h1 center-text">Area of Interest</div>
                <div id="map"></div>
            </div>

            <div id="right">
                <div class="sketchy h1 center-text">Page Setup</div>
                <article id="infobox" class="infobox invisible">Your Area of Interest is too large!
                    <br>Zoom further in to be able to create a Sketch Map.
                </article>
                <form id="page-setup-form" action="/create/results" method="post">
                    <label for="format">Paper Format</label>
                    <select id="format" name="format"></select>

                    <label for="orientation">Paper Orientation</label>
                    <select id="orientation" name="orientation"></select>

                    <input type="hidden" id="bbox" name="bbox" value="1,1,5,5">
                    <input type="hidden" id="bboxWGS84" name="bboxWGS84" value="1,1,5,5">
                    <input type="hidden" id="size" name="size"
                           value='{"width": 6055, "height": 8658}'>
                    <input type="hidden" id="scale" name="scale" value='11545.36'>
                    <button id="next-button" type="button">NEXT &rarr;</button>
                </form>
            </div>

        </div>
    </main>
{% endblock body %}
