{% extends "base.html" %}

{% block head %}
    {#    <link rel="stylesheet" href="{{ url_for("static", filename="bundles/index.css") }}">#}
{% endblock head %}

{% block header_message %}
    Need some help?
{% endblock header_message %}

{% block body %}
    <main class="container">
        <p>
            These <strong>step-by-step instructions</strong> guide you through the Sketch Map Tool
            and provide useful recommendations.
        </p>
        <p>
            Answers to the frequently asked questions can be found in the <a href="#faq">FAQ</a>
            section below.
        </p>
        <p>
            Learn more about possible applications and additional data collection methods that can
            be linked to the tool in the Additonal Information section (INSERT ANCHOR TO ADDITONAL
            INFORMATION).
        </p>

        <h1 id="step-by-step">Step-by-step instructions</h1>
        <details>
            <summary>
                <div class="sketchy circle">1</div>
                Create paper maps to collect data
            </summary>
            <details>
                <summary>1.1 Define your Area of Interest</summary>
                <p>
                    Select your area of interest either by zooming into the map preview or with the
                    search function in the sidebar.
                </p>
                <p>
                    Choose from different paper formats and a suitable page orientation. The
                    dashed red line represents the boundaries of your area of interest, which will
                    be printed on the Sketch Map.
                </p>
                <p>
                    <em>Recommendations:</em>
                <ul>
                    <li>Adapt the extent of your selected area to your use case. The following
                        questions should be kept in mind:
                    </li>
                    <ul>
                        <li>What should be mapped by the participants?</li>
                        <li>What should be visible on the map and in what level of detail?</li>
                        <li>Which areas should the map cover?</li>
                    </ul>
                    <li>Adapt the area extent to the paper size you want to use.</li>
                    <li>The area is too big? Create multiple Sketch Maps.</li>
                    <li>Aspects you might want to consider for the selection of the area of
                        interest:
                    </li>
                    <ul>
                        <li>Ensure orientation on the map: streets (and their names) and some points
                            of interest (POIs) should be visible.
                        </li>
                        <li>Cover all relevant areas for your use case: e.g. if studying flooding,
                            cover especially those areas near rivers, creeks and sinkholes as well
                            as critical infrastructure which might be affected by the flood event.
                        </li>
                    </ul>
                </ul>

                </p>

            </details>
            <details>
                <summary>1.2 Map Quality Check</summary>
                <p>

                </p>
            </details>
            <details>
                <summary>1.3. Export Sketch Map as PDF</summary>
            </details>
        </details>
        <details>
            <summary><strong class="sketchy" style="color: var(--heigit-red)">THEN: </strong> &nbsp;Data
                collection in the field
            </summary>
        </details>
        <details>
            <summary>
                <div class="sketchy circle">2</div>
                Paper to Geodata: Automatically digitize collected data
            </summary>
        </details>
        <details>
            <summary><strong class="sketchy" style="color: var(--heigit-red)">FINALLY: </strong>
                Import Geodata in QGIS
            </summary>
        </details>
        <h1 id="faq">FAQ</h1>
        <h1 id="additional-information">Additional Information</h1>
        <p>TODO</p>


    </main>
{% endblock body %}
