{% extends "base.html" %}
{% block header_message %}
    Create re-digitizable paper maps for offline data collection in the field
{% endblock header_message %}
{% block body %}
    <main class="container">

        <div class="grid">
            <a href="/create">
                <button type="button">Create a SketchMap</button>
            </a>
            <a href="#TODO">
                <button type="button">Digitize a SketchMap</button>
            </a>
        </div>
    </main>
{% endblock body %}
