{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for("static", filename="style/index.css") }}">
{% endblock head %}

{% block header_message %}
    Create re-digitizable paper maps for offline data collection in the field
{% endblock header_message %}

{% block body %}
    <main class="container">

        <div id="main-grid" class="grid">
            {# row 1#}
            <div class="sketchy circle">1</div>
            <div id="then">THEN</div>
            <div class="sketchy circle">2</div>

            {#row 2#}
            <div class="h1 center-text">Create paper maps to collect data</div>
            <div></div>
            <div class="h1 center-text">Paper to GIS:<br>Automagically create Geotiffs, Vector data or All-In-One-QGIS
                projects
            </div>

            {#row 3#}
            {#for larger screens use horizontal arrows#}
            <div class="horizontal step-arrows" style="grid-column: 1 / 2">
                <div class="active">Define your Area of Interest</div>
                <div class="">OSM Quality Check</div>
                <div class="">PDF Export of SketchMap</div>
            </div>
            <div class="horizontal step-arrows" style="grid-column: 3 / 4">
                <div class="active">Scan or photograph your scribbled SketchMaps</div>
                <div class="">Upload your SketchMaps</div>
                <div class="">Download sketches as Geodata</div>
            </div>

            {#for small screens use horizontal arrows#}
            <div class="vertical step-arrows" style="grid-column: 1 / 2">
                <div class="active">Define your Area of Interest</div>
                <div class="">OSM Quality Check</div>
                <div class="">PDF Export of SketchMap</div>
            </div>
            <div class="vertical step-arrows" style="grid-column: 3 / 4">
                <div class="active">Scan or photograph your scribbled SketchMaps</div>
                <div class="">Upload your SketchMaps</div>
                <div class="">Download sketches as Geodata</div>
            </div>

            {#row 4#}
            <div>
                <a href="/create">
                    <button type="button">Create a SketchMap</button>
                </a>
            </div>
            <div></div>
            <div>
                <a href="#TODO">
                    <button type="button">Digitize a SketchMap</button>
                </a>
            </div>

        </div>

    </main>
{% endblock body %}
