{% extends "base.html" %}

{% block header_message %}
{{ _('How much has the Sketch Map Tool been used?') }}
{% endblock header_message %}

{% block body %}
<main class="container">
	<p>Statistics covering the period from March 2025 to present.</p>
	<div class="grid">
		<article>
			<header>{{ _('How many Sketch Maps have been created?') }}</header>
			<code style="font-size: 2rem;">{{ number_of_sketch_maps }}</code>
		</article>
		<article>
			<header>{{ _('For how many Sketch Maps did we detect markings?') }}</header>
			<code style="font-size: 2rem;">{{ number_of_detected_markings }}</code>
		</article>
	</div>
	<br>
	{%- for chart in charts %}
	<article id="chart" style="display: grid; place-items: center;">
		<embed style="max-width: 1280px;" type="image/svg+xml" src={{ chart|safe }}>
	</article>
	<br>
	{% endfor %}
</main>
{% endblock body %}
