<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sketch Map Tool Prototype</title>
    <link href="./static/style/style.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

    <link href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
           rel="stylesheet"
           integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
           crossorigin="anonymous"/>
    <link href="https://unpkg.com/@geoman-io/leaflet-geoman-free@2.12.0/dist/leaflet-geoman.css"
          rel="stylesheet"
          integrity="sha384-s2O699NvuAYdhtIrn2QplAQPTnpclMFCHrIyeghx81WWUZg82AYYcpPz7geFDeJf"
          crossorigin="anonymous">
    <link href="https://unpkg.com/leaflet-geosearch@3.3.2/dist/geosearch.css"
          rel="stylesheet"
          integrity="sha384-+I1aZAR/YsofuqHbw/Ex307aT6jhgTJ6hFBfK2MNspx5WFjrvsbYtC8l0ugf1/zq"
          crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@2.12.0/dist/leaflet-geoman.min.js"
            integrity="sha384-EqBPge0hwXFzCzLcMrkwTJCFNNNBuDryXp1o9uVFCR5sCpq26DxZQ32N0fQgDXFs"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet-geosearch@3.3.2/dist/geosearch.umd.js"
            integrity="sha384-1QUvBElQH3hRjI9+M4FwD47Qf/UoxnmEYk032eA3zts7OCxGPOoMhR3TKeu5rL4C"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="./static/scripts/map_management.js"></script>
    <script src="./static/scripts/header_menu.js"></script>
</head>
<body class="center-text">
    <h1>Sketch Map Tool Prototype - Generation</h1>
    <div class="container border">
        <header class="d-flex justify-content-center small-margin">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" id="btn-info" href="../">Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="btn-analyses" href="./analyses" aria-current="page">Analyses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="btn-generation" href="#">Map generation</a>
                </li>
                <li class="nav-item disabled-button">
                    <a class="nav-link" id="btn-upload" href="#">Upload sketch maps</a>
                </li>
            </ul>
        </header>
    </div>
    <br><br>
    {% if msg|length != 0 %}
        <div class="card text-dark bg-warning mb-3 msg-box">
            <div class="card-header">Info</div>
            <div class="card-body">
                <p class="card-text">{{ msg }}</p>
            </div>
        </div>
    {% endif %}
    <div class="card contents-card">
        <div class="card-body">
            <div class="input-grid">
                <div class="row">
                    <div class="input-row">
                        <div id="map"></div>
                    </div>
                <div class="hspace">
                </div>
                <div class="input-row">
                    <form method="post" enctype="multipart/form-data">
                        <div class="title-with-btn">
                            <h2>Study Area</h2>&nbsp;&nbsp;
                            <button class="btn btn-secondary btn-lg" type="button" data-toggle="modal"
                                    data-target="#bbox-input-info">?</button>
                        </div>
                        <br><br>
                        {{bbox_form.bbox_input(rows=7, cols=50)}}
                        <br><br>
                        <button class="btn btn-secondary"
                                id="btn-zoom-to-selection"
                                type="button">
                            Zoom to selected area
                        </button>
                        <br><br>
                        <div class="form-check title-with-btn">
                            <input class="form-check-input" id="adjust-to-paper-format" type="checkbox" value="" checked>
                            <label class="form-check-label" for="adjust-to-paper-format">
                                Adjust the bounding box ratio to a certain paper format
                                <button class="btn btn-secondary btn-sm" type="button" data-toggle="modal"
                                        data-target="#format-adjustment-info">
                                    ?
                                </button>
                            </label>
                        </div>
                        <select class="form-select"
                                id="paper-format-selection"
                                name="format"
                                aria-label="Choose a paper format">
                            <option value="a0">A0</option>
                            <option value="a1">A1</option>
                            <option value="a2">A2</option>
                            <option value="a3">A3</option>
                            <option value="a4" selected>A4</option>
                            <option value="a5">A5</option>
                            <option value="letter">Letter</option>
                            <option value="legal">Legal</option>
                            <option value="tabloid">Tabloid</option>
                        </select>
                        <br>
                        <div class="form-group">
                            <label for="input-width">Width of the map image in pixels (will be automatically determined by
                                the future client):</label>
                            <input class="form-control" id="input-width" name="width" type="number" value="1400">
                            <label for="input-height">Height of the map image in pixels (will be automatically determined
                                by the future client):</label>
                            <input class="form-control" id="input-height" name="height" type="number" value="1200">
                        </div>
                        <br><br>
                        <button class="btn btn-primary btn-lg" type="submit">Generate</button>
                    </form>
                </div>
                </div>
            </div>
            {% if outputs|length != 0 %}
                <br><br>
                <div class="card text-white bg-success mb-3 msg-box">
                    <div class="card-header">Result Status</div>
                    <div class="card-body">
                        <ul id="result-list">
                            {% for key, value in outputs.items() %}
                                <li><a href="{{value}}" target="_blank"> {{key}} </a> </li>
                            {% endfor %}
                        </ul>
                    </div>
                <script>
                    // Automatically scroll to status page links:
                    document.getElementById("result-list").scrollIntoView();
                </script>
                </div>
            {% endif %}
        </div>
    </div>


    <!-- Infobox bbox input -->
    <div class="modal fade" id="bbox-input-info" role="dialog" tabindex="-1" aria-labelledby="bbox-input-info-title"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bbox-input-info-title">Bounding Box Input</h5>
                </div>
                <div class="modal-body left-align-text">
                    Enter here the <a href="https://wiki.openstreetmap.org/wiki/Bounding_Box" target="_blank">bounding boxes</a>
                    you want to generate sketch maps of. Please use the following format:<br>
                    <pre>lon1,lat1,lon2,lat2;</pre>
                    If you want to analyse multiple bboxes, separate them with ';'.<br>
                    E.g.:
                    <pre>8.69142561,49.4102821,8.69372067,49.4115517;8.68125891,50.1068951,8.68857374,50.1108835;</pre>
                    <br>
                    If you do not have exact coordinates, you can also simply draw a bounding box on the map and the coordinates
                    will be added automatically for you.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Infobox paper format adjustment -->
    <div class="modal fade" id="format-adjustment-info" role="dialog" tabindex="-1" aria-labelledby="format-adjustment-info-title"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="format-adjustment-info-title">Adjustment to paper format</h5>
                </div>
                <div class="modal-body left-align-text">
                    If you want to analyse the same bounding boxes for which you will print sketch maps, it might make sense to
                    adjust the ratio of the bounding box to optimally fill the paper format, your sketch maps will be printed on.
                    <br><br>
                    This only affects bounding boxes drawn on the map, you can still enter different coordinates by hand.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Infobox custom message -->
    <div class="modal fade" id="custom-message" role="dialog" tabindex="-1" aria-labelledby="custom-message-title"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="custom-message-title">Info</h5>
                </div>
                <div class="modal-body left-align-text"></div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>