@media screen and (max-width: 999px) {
    .horizontal.step-arrows {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .vertical.step-arrows {
        display: none;
    }
}

#teaser-message {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 3rem;
}

#teaser-message * {
    color: unset;
}

#teaser-message article {
    background-image: url("/static/assets/images/sketch-background.webp");
    background-color: #631017;
    background-blend-mode: color-burn;
    background-size: 100%;
    color: white;
    border-radius: unset;
    margin-top: 0;
}

#teaser-message article:hover {
    background-blend-mode: color;
}

#teaser-message p:last-child {
    margin: 0;
}

#teaser-message a {
    text-decoration: underline;
}

#teaser-message a:focus {
    background-color: var(--heigit-red);
    text-shadow: 0 0 4px currentcolor;
}

#main-grid {
    background: linear-gradient(#000, #000) center/2px 100% no-repeat;
    grid-template-columns: 1fr 4rem 1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 3.5rem;
    padding: 1rem 3rem 0;
    margin-bottom: 3rem;
}

#span-grid-row-for-arrows {
    grid-column: 1 / 4;
    justify-self: stretch;
}

#row-grid {
    grid-template-columns: 1fr 4rem 1fr;
    justify-items: center;
}

#then {
    font-size: larger;
    background-color: white;
    color: var(--heigit-red);
    top: 2rem;
    position: relative;
}

/* customization of arrows for index */
.horizontal.step-arrows > div {
    min-height: 7rem;
    max-width: 15rem;
}
