name: Python-Linting

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint flake8 bandit
        pip install -r requirements.txt
    - name: Analysing the code with pylint, flake8 and bandit
      run: |
        pylint $(git ls-files '*.py')
        flake8 $(git ls-files '*.py')
        bandit $(git ls-files '*.py')
